[2020-11-01 15:27] sebbader opened #12 "Versioning of Schemas"
The schemas follow the versioning scheme of 'Details of the AAAS', for instance, are we currently working on version 3.0 RC01. How can we reflect that in our repo?

Let me make two suggestions for the beginning:

1. Let's add versions as top-level folders
2. Let's create releases for each version/revision and maintain only the latest revision as the source in the repo.

What's your opinion, @Manu3

[2020-12-01 19:49] BirgitBoss commented on #12
I would go with 2: make releases for every official release or bugfix. The master branch should be the newest release. Working version should be on a working branch.

[2020-12-02 16:00] sebbader commented on #12
That's also my preference. I just created a `develop` branch for the working commits. Then let's do the following: `master` is protected, nobody is allowed to push directly. Merges are only executed at the release of a new version, after approval by the UAG AAS or Steering Committee, which directly triggers a (manual) creation of a new release.

`develop` can be protected or not. Still, content on

[2020-12-02 16:00] sebbader commented on #12
@mristin: Does that fit to the conventions you formulated when creating the repo?

[2020-12-02 16:04] mristin commented on #12
@sebbader We haven't really put up any convention regarding the branches. Personally, I find your approach fine!

[2020-12-03 10:35] TorbenD opened #17 "XML-Schema: Failure in extension_t"
According to the specification an Extension-Objekt the attribute "RefersTo" has a multiplizity of zero or one. In the xml-schema the multiplizity is one to any.

Following proposal:
Change aas:references_t to reference_t in extension_t

[2021-01-18 13:58] mmarseu opened #19 "Terminology of 'operation' in DAAS part 2"
This is a minor piece of feedback for the *Details of the Asset Administration Shell - Part 2* document.
I find the use of the term 'operation' for API operations (e.g. *GetAssetAdministrationShell*) highly confusing, given that it also signifies a metamodel concept in part 1.

I'd be in favor of any other synonym like method.

[2021-01-20 09:55] TorbenD opened #20 "XML: XSD should use xs:all instead of xs:sequence"
The XSD currently uses xs:sequence to define attributes of types. This requires the children of elements in XML documents to be in the exact same order as defined in the XSD, which results in the unnecessary work of re-ordering code-blocks in serialization adapters. Changing xs:sequence to xs:all would remove this limitation, allowing children in any order to be valid against the schema.

[2021-01-20 09:56] TorbenD opened #21 "JSON: Add DataElement to Schema"
The JSON schema currently doesn't have any type for DataElements. We suggest to add this missing type, so schema validators can spot incorrectly placed SubmodelElements, e.g. where a DataElement is expected.
Additionally, the XML Schema Definition has such a type, so adding this type would improve the consistency between the two schemas.

[2021-01-20 09:58] JoergWende commented on #17
accepted - will be changed in V3.0.1RC1
J.

[2021-01-20 09:58] TorbenD opened #22 "XML: Remove unnecessary wrapper elements"
The current version of the schema (v3.0 RC01) has unnecessary wrapper elements around each Submodel Element and Data Element.

Submodel Element
[code]
We suggest the removal of the wrapper element:
[code]

Data Element
[code]
Again, we suggest the removal of the wrapper element:
[code]

[2021-01-20 10:05] JoergWende commented on #22
will take a look later
J.

[2021-03-10 11:44] br-iosb opened #26 "IEC 61360 DataType Inconsistency INTEGER and INTEGER_MEASURE"
Hello,

it looks like the string enumeration in IEC61360.xsd contains "INTEGER" and not "INTEGER_MEASURE", while for JSON and RDF "INTEGER_MEASURE" and not "INTEGER" are listed.

I don't know about that IEC 61630 datatype but i think the string representation should be consistent regardless of the used format.

**XML**

	<simpleType name="dataTypeIEC61360_t">
		<restriction base="string">
			<enum

[2021-04-06 10:01] mmarseu opened #28 "Inconsistency in chapter 4.3 version 3.0RC1"
In the latest release candidate, chapter 4.3 still references the attribute **Asset/billOfMaterial** which has been replaced in that version by **AssetInformation/billOfMaterial**.
The diagram in the same chapter doesn't mention **AssetInformation** at all and still suggests the bill of material would be part of the asset.

[2021-04-21 09:20] JoergWende commented on #17
Fixed

[2021-04-21 09:20] #17 closed

[2021-04-21 09:22] JoergWende commented on #26
need to check with the JSON / RDF guys ...

[2021-04-21 09:28] JoergWende commented on #22
wrapper elements had been introduced to reflect cardinalities of 'unbounded'

[2021-04-30 17:20] BirgitBoss commented on #26
The AAS spec say INTEGER_MEASURE, so this seems to be a bug in xsd.

[2021-04-30 17:24] BirgitBoss commented on #19
I share your concern. The group working on the API was aware of the confusion that might arise and therefore always adds a prefix like "API Operation" "Interface Operation". The reason for using the term "operation" in the API specification is that the interface concept is based on an existing DIN Specification and Part 1 of the AAS was released already earlier.

[2021-04-30 22:58] JoergWende commented on #26
ok ... my turn

[2021-05-01 21:26] #26 closed

[2021-05-17 12:39] sebbader opened #31 "LangStringSet in JSON and RDF"
The LangStringSet class is not modeled in RDF (https://github.com/admin-shell-io/aas-specs/blob/6ee8a5148153831ac81ff0d8408aad03219a207e/schemas/rdf/shacl-schema.ttl#L1171) or JSON (for instance https://github.com/admin-shell-io/aas-specs/blob/6ee8a5148153831ac81ff0d8408aad03219a207e/schemas/json/aas.json#L55) but in XML (https://github.com/admin-shell-io/aas-specs/blob/6ee8a5148153831ac81ff0d8408

[2021-05-19 10:56] sebbader commented on #31
Decision from the working group: LangStringSet is not a class and therefore the current representation in JSON and RDF stays.

[2021-05-19 10:56] #31 closed

[2021-05-19 11:23] mmarseu opened #32 "Feedback for other related documents / specifications"
This github already serves well for the general public to get in touch with the authors of the AAS specification with feedback or questions. I myself have made use of this channel a few times already.

Is there a similar way to discuss other outputs of the specification working group? For instance, I have a question regarding the submodel template for digital nameplates but the document doesn't gi

[2021-05-19 11:47] sebbader commented on #32
Hi @mmarseu ! That's a good point. In general, this repo is used to track very detailed change requests or bugs in the model/serializations. Let me write you an email and make contact with the authors of the Digital Nameplate Template.

[2021-05-19 11:49] sebbader commented on #32
There is no public forum or something like an official communication channel for the community (at least I don't know any). One could however think about something, maybe in the context of the IDTA?

[2021-05-21 08:52] br-iosb opened #33 "XML: Resolve several duplicated Definitions in IEC61360.xsd and AAS.xsd"
IEC61360.xsd and AAS.xsd both defines similar Types e.g. complexType name="key_t" (and more key_t related definitions, e.g. "keyTypes"), valueDataType_t, langString_t and so on.

They are copies, but in different namespaces, thus not the same!

After some investigation, it seems like dataSpecificationIEC61630_t is needed in AAS.xsd, but dataSpecificationIEC61630_t requires a bunch of other definit

[2021-05-27 08:01] BirgitBoss opened #34 "XML, JSON + RDF - Bugfix Certificate and BlobCertificate"
In Specification 3.0RC01 UML and Table Descriptions are not consistent - will be corrected in V3.0RC02. There are the following bugs:

Certificate/policyAdministrationPoint is not existing - remove (only in RDF)

BlobCertificate/authenticates is missing in XML, JSON and RDF

XMI is correct because UML specification was correct.

[2021-07-20 16:31] BirgitBoss opened #40 "Serialization of operations wrong (XML Schema)?"
Please check serialization of operations:
see
https://github.com/admin-shell-io/aasx-package-explorer/issues/387#issuecomment-883529947

It should be
[code]
according to specification, doesn't it?

[2021-07-20 16:42] BirgitBoss commented on #33
It was a design decision to separate data specification definitions from the core AAS model. So embedding is "unwanted". In future additional data specifications are expected, also proprietary ones etc. This is why separate file were choosen: different people may be responsible for it.

It was also a design decision to make data specifications stand alone specifications.

So I understand the conce

[2021-07-20 16:46] BirgitBoss commented on #28
This will be fixed in the next release of the specification.

[2021-07-20 16:47] BirgitBoss commented on #28
I close the issue since the change was already done.

[2021-07-20 16:47] #28 closed

[2021-07-21 15:08] kenwenzel opened #42 "Ordered SubmodelElementCollection in RDF"
To me it is unclear how ordered `SubmodelElementCollection`s are represented in RDF.

The ontology defines the range of value as `SubModelElement ` (and not as rdf:List or rdfs:Container/rdf:Seq):
https://github.com/admin-shell-io/aas-specs/blob/6ee8a5148153831ac81ff0d8408aad03219a207e/schemas/rdf/rdf-ontology.ttl#L1933

Is there some property on `SubModelElement ` that is used for ordering?

[2021-07-21 16:04] kenwenzel opened #43 "Properties in RDF are prefixed by class names"
The ontology prefixes all property IRIs with names of the declaring classes as in:
https://github.com/admin-shell-io/aas-specs/blob/6ee8a5148153831ac81ff0d8408aad03219a207e/schemas/rdf/rdf-ontology.ttl#L265

Usually ontologies define a global property hierarchy that can be reused for different classes.
Maybe it is also possible that the AAS ontology follows this practice.

I am aware that this mig

[2021-07-28 05:27] changqin26 commented on #42
there is another property of **SubmodelElementCollection** called **SubmodelElementCollection/ordered**, it decides whether the elements in a collection is ordered or not.
https://github.com/admin-shell-io/aas-specs/blob/6ee8a5148153831ac81ff0d8408aad03219a207e/schemas/rdf/rdf-ontology.ttl#L1920

[2021-07-28 06:57] kenwenzel commented on #42
Yes, the `ordered` property marks the collection as ordered or not. But what is the ordering criterion of the elements?
I see the following solutions for the `ordered=true` case:
- generally use `rdf:List`s as values of `SubmodelElementCollection`s
- use an additional property like `aas:precedes` on the referenced elements and compute a topological ordering
- use a wrapper object like `SubmodelEle

[2021-08-24 12:05] kenwenzel opened #45 "Ordered keys of references in RDF"
The RDF representation does currently not support a fixed order for the keys of a reference.
The property `https://admin-shell.io/aas/3/0/RC01/Reference/key` of the class `Reference`  has the following range:

https://github.com/admin-shell-io/aas-specs/blob/d1a1cec327de43449f04d6948c9cea3836effc31/schemas/rdf/rdf-ontology.ttl#L1779

This is similar to the issue #42

Possible solutions are:

- use

[2021-08-25 06:46] kenwenzel commented on #45
OK, I found something in the following specification document:

https://www.plattform-i40.de/PI40/Redaktion/EN/Downloads/Publikation/Details_of_the_Asset_Administration_Shell_Part1_V3.pdf

Page 142 describes the following mapping rule:
[code]

The mentioned `index` attribute needs to be included in the AAS ontology.

[2021-11-08 20:22] mristin opened #48 "`Identifier` or `Identification`"
Hi,
I noticed an inconsistency between the XML serialization and the class name in the book. Namely, the class is called `Identifier` in the book:
https://www.plattform-i40.de/IP/Redaktion/DE/Downloads/Publikation/Details_of_the_Asset_Administration_Shell_Part1_V3.pdf?__blob=publicationFile&v=5#page=53

while the tag name is `identification`:
https://github.com/admin-shell-io/aas-specs/blob/dd7da3

[2021-11-08 20:25] mristin opened #49 "Inconsistency between `language` in JSON and `lang` in XML"
Hi,
I noticed that `langString` is serialized differently in JSON and in XML. In XML, the language property is serialized as `lang`, while in JSON it is written out as `language`. Since the release candidates are still work-in-progress, wouldn't it make sense to make both of those consistent?

This would make the code generation and/or code annotations easier for the downstream users.

[2021-11-10 08:39] mristin commented on #48
Please apologize. This is actually an inconsistency at a higher level.

The `identification` refers to the property of, say, `AssetAdministrationShell`, where the type `Identifier` is implicitly serialized into the tag.

This is quite confusing for me. Wouldn't it make more sense to be consistent with JSON serialization and serialize `Identifier` as a proper individual tag:
[code]

As far as I can

[2021-11-16 08:11] gillistephan opened #50 "[Shacl | RDF Ontology]: Possible inconsistencies and Questions"
I have been playing around with shacl.ttl and owl.ttl in order to implement a type-generator for Go and Typescript (first generated models for ts can be found [here](https://github.com/gillistephan/aas/tree/main/packages/ts-model/src/lib))

While implementing, some questions came up and possible inconsistencies were detected -
I [used](https://github.com/admin-shell-io/aas-specs/releases/tag/v3.0.

[2021-11-16 08:46] mristin commented on #50
Hi @gillistephan <https://github.com/gillistephan>,
Please apologize for dropping into the issue. Just FYI: we are working on
generating different schemas (JSON Schema, XSD, RDF, SHACL etc.) from a
meta-model written in a Python subset as well as generating SDKs in
different languages (including Golang and Typescript). Perhaps you want to
have a look (all still work in progress):

https://github.c

[2021-11-16 09:05] gillistephan commented on #50
Hi @mristin,
that sounds interesting. This is basically what I was looking for before starting the implementation. Happy to evaluate if I can help implementing. Will contact you. Cheers S.

[2021-11-16 21:28] BirgitBoss commented on #48
In V3.pRC02 we are thinking about removing idType and to simply use id instead. So this question will not arise any longer.

[2021-12-04 14:48] BirgitBoss opened #51 "BUG: formula_t needs to be mixed xsd type"
Problem: Goal ist to express a formula like this:

<aas:Formula>
   <aas:dependsOn>
         <Keys> 	 <Key type=”Submodel”>https://myShell/Machine</Key>
			 <Key type=”Property”>Status</Key>
   </aas:dependsOn>  != RUNNING
</aas:Formula>

Therefore

<complexType name="formula_t">
		<sequence>
			<element maxOccurs="1" minOccurs="0" name="dependsOnRefs" type="aas:references_t"/>
		</sequence>
</com

[2021-12-04 18:05] BirgitBoss opened #52 "Support two types of Issues: Bug and Issue"
Provide two types of issue: one for bugs and one for normal issues requesting changes or questions

[2021-12-04 21:19] BirgitBoss opened #53 "xml serialization: DataSpecificationPhysicalUnit is missing"
DataSpecificationPhysicalUnit (introduced in V2.0) is not yet serialized.

Add new file
dataSpecification_IEC61360_PhysicalUnit.xsd
with its specification.

Add data specification in complexType dataSpecificationContent as Choice

<complexType name="dataSpecificationContent_t">
		<choice>
			<element name="dataSpecificationIEC61360" type="IEC61360:dataSpecificationIEC61630_t"/>

[2021-12-04 21:22] BirgitBoss opened #54 "XML HasSemantics, max 1 semanticId - make explicit"
<group name="hasSemantics">
		<sequence>
			<element minOccurs="0" name="semanticId" type="aas:semanticId_t"/>
		</sequence>
	</group>

==> max=1

	<group name="hasSemantics">
		<sequence>
			<element minOccurs="0" maxOccurs="1" name="semanticId" type="aas:semanticId_t"/>
		</sequence>
	</group>

[2021-12-22 21:20] BirgitBoss opened #56 "Create Readme with mapping rules for xml, JSON and RDF"
To understand how the serializations were derived from the technology neutral metamodel, provide documentation on the mapping rules.

[2021-12-22 21:28] BirgitBoss commented on #32
In the moment https://github.com/admin-shell-io/questions-and-answers is best suited for questions. But you are right, we should think about setting up a communication channel for the community.

[2021-12-22 22:16] #56 closed

[2022-01-05 09:14] markus-ap opened #61 "Inconsistency in attribute name in IdentifierKeyValuePair class"
[code]
In [jsonExample.json](https://github.com/admin-shell-io/aas-specs/blob/master/schemas/json/examples/jsonExample.json) the attribute`subjectId` is used, whereas the [Part 1 document](https://www.plattform-i40.de/IP/Redaktion/EN/Downloads/Publikation/Details_of_the_Asset_Administration_Shell_Part1_V3.pdf?__blob=publicationFile&v=5) specifies `externalSubjectId`. The same inconsistency is seen

[2022-01-05 09:24] markus-ap opened #62 "Different versions of JSON examples"
[test_demo_full_example.json](https://github.com/admin-shell-io/aas-specs/blob/master/schemas/json/examples/test_demo_full_example.json) and [jsonExample.json](https://github.com/admin-shell-io/aas-specs/blob/master/schemas/json/examples/jsonExample.json) both appear to be from commits that update JSON to `V3.0RC01`, but they are using different versions of AAS.

`test_demo_full_example.json`, for

[2022-01-08 15:16] BirgitBoss commented on #62
@g1zzm0 will you please have a look? In the moment the goal is to have V3.0RC01 with its examples, make a release update and then update to V3.0RC02.

[2022-01-08 17:08] g1zzm0 commented on #62
@Manu3756 @sebbader updated the examples to V3.0RC01 with the commits #35 and #13

[2022-01-10 09:45] markus-ap commented on #62
It seems that commit fixes it, but has not made its way to the master branch as Asset/assetIdentificationModel is still present in [master](https://github.com/admin-shell-io/aas-specs/blob/master/schemas/json/examples/test_demo_full_example.json). Line 2523.

[2022-01-11 11:40] markus-ap opened #63 "JSON Mapping of HasDataSpecification | List of Reference vs single Reference element"
In the [Details of the Asset Administration Shell Part1 (V3)](https://www.plattform-i40.de/IP/Redaktion/EN/Downloads/Publikation/Details_of_the_Asset_Administration_Shell_Part1_V3.pdf?__blob=publicationFile&v=5) document, on page 60, the abstract class `HasDataSpecification` is described has having one attribute, `dataSpecification`, which is a list of elements of the type `Reference`.

In the jso

[2022-01-13 09:45] gitmpje opened #64 "RML TriplesMap"
In the [Details of the Asset Administration Shell Part1 (V3)](https://www.plattform-i40.de/IP/Redaktion/EN/Downloads/Publikation/Details_of_the_Asset_Administration_Shell_Part1_V3.html) document there is a snippet of the RML TriplesMap for parsing an AAS in XML to RDF on page 145.

I was wondering if there is a complete RML TriplesMap that can be made available? Furthermore, if there is also a map

[2022-01-13 09:58] sebbader commented on #64
Hello @gitmpje , I created those Mappings for an older version of the model and had no time to update them in the meantime unfortunately: https://github.com/sebbader/AssetAdminShellOntology/blob/master/rml_mapping/

[2022-01-14 17:37] g1zzm0 opened #67 "Invalid Example"
ReferencesJsonExample.json and ReferenceElement.json are not according to JSON schema

[2022-01-14 17:45] g1zzm0 commented on #67
@Manu3756 can you help me fix the ReferenceElement.json and ReferencesJsonExample.json

[2022-01-15 18:32] #67 closed

[2022-01-18 17:32] MichaelHoffmeisterFesto opened #75 "Still www in namespaces"
Observation: the schemata still use "www.admin-shell.io" instead of "https://admin-shell.io".

[code]

*Edit mristin*: formatting

[2022-01-20 13:44] robert-mieth commented on #64
Hello @gitmpje , @sebbader, some time ago I built a XML to RDF map for V3.0.RC01 by hand. It is not thoroughly tested and it quite possibly deviates from the specification in one place or the other, as  I'm not an AAS expert: [https://github.com/DAVID-Digital-Twin/compchecks/blob/main/src/transformation/maps/XML2RDF.rml.ttl](https://github.com/DAVID-Digital-Twin/compchecks/blob/main/src/transforma

[2022-01-20 15:41] gitmpje commented on #64
I will take a look at both, thank you for your input!

[2022-01-22 21:27] BirgitBoss commented on #61
externalSubjectId is the correct name in V3.0RC01

[2022-01-22 21:32] BirgitBoss commented on #49
@Manu3756 I think "lang" is the better option. Was there a reason to use language?

[2022-01-22 21:53] BirgitBoss commented on #48
my understanding is the following:

Whether the type of an attribute of a class gets an own tag or not in xml depends on whether the type is a dataType or a real class and whether the class has subclasses.

https://bellekens.com/2011/08/10/uml-best-practice-attribute-or-association/

So for
Class A
    attributeName   TypeName 0..1
it is
  <attributeName><attr1>         (this is the case for ident

[2022-01-22 22:46] BirgitBoss opened #78 "Update Contribution Guide - assign PR to Issue"
For preparation to do more and more specification in github itself (up to now published pdf of the specification was the master) we need to have a stringent coupling of issues and PRs. This is the proposal for the update of the current **Create Pull Request** SubChapter (in the moment it is recommended to prefix with profile name, e.g. BirgitBoss/myNewFeature:

### Create Pull Request

Proposals f

[2022-01-22 22:51] BirgitBoss opened #79 "Update Approval Process in Contribution Guide - Labeling Proposal+"
For preparation to do more and more specification work in github itself (up to now published pdf of the specification was the master) we need to have an approval process that is compliant to the approval processes as defined by IDTA and Plattform Industrie 4.0 for joint working groups.

proposal is to have the labels as defined in https://github.com/OpenManufacturingPlatform/sds-bamm-aspect-meta-m

[2022-01-22 22:55] BirgitBoss opened #80 "Contribution Guide - add chapter about legal information and authors"
For preparation to do more and more specification work in github itself (up to now published pdf of the specification was the master) we need to check
- which kind of license information needs to be part of the files themselves
- an authors file

Example: https://github.com/OpenManufacturingPlatform/sds-bamm-aspect-meta-model/blob/main/CONTRIBUTING.md#license-headers--licensing

[2022-01-22 22:59] BirgitBoss opened #81 "Update Contribution Guide -add chapter about release process"
For preparation to do more and more specification in github itself (up to now published pdf of the specification was the master) we need to have a clearly defined release process including versioning schema. This issue is strongly related to the approval process of issue #9

Proposal similar to (In this case the working group is the joint working group "Asset Administration Shell" of IDTA and Plat

[2022-01-22 23:10] BirgitBoss commented on #63
To me the current example looks correct, I extend it with a second data specification:

"embeddedDataSpecifications": [
            {
               "dataSpecification": {
                  "keys": [
                     {
                        "type": "GlobalReference",
                        "value": "http://adminshell.io/DataSpecificationTemplates/DataSpecificationIEC61360",

[2022-01-23 18:15] markus-ap commented on #63
The problem I am referring to is the attribute "dataSpecification" being described as having 0 to many Reference objects.

I had imagined this being easily implemented with "dataSpecification" being serialised as a list of Reference objects, but in the json example there is instead just one singular Reference object.

[code]

It would at least make serialisation and deserialisation quite trouble f

[2022-01-24 07:25] g1zzm0 commented on #81
The process is well-defined in section https://github.com/admin-shell-io/aas-specs/blob/master/CONTRIBUTING.md#before-the-pull-requests . We use feature branches.

[2022-01-24 07:30] g1zzm0 commented on #80
The license information can clearly be found in the Repository https://github.com/admin-shell-io/aas-specs/blob/master/README.md
There is no need to bloat files unnecessarily.

[2022-01-24 07:36] g1zzm0 commented on #78
This is not an Issue, but a very good change request. Please feel free to make a commit with s follow-up PR for this particular change.

[2022-01-24 07:41] g1zzm0 commented on #79
Is there a use case where we need labeling?

[2022-01-25 09:08] Manu3756 commented on #49
@mristin @BirgitBoss

I'm fine with changing the JSON serialisation to "lang" with the next release.

**V3.0RC01**
langString
[code]
langStringSet
[code]

**V3.0RC02**
langString
[code]
langStringSet
[code]

[2022-01-25 09:08] #49 closed

[2022-01-25 09:11] Manu3756 commented on #21
@TorbenD
is this still valid? for V3.0RC02?
@mristin
what is your opinion here?

[2022-01-25 09:15] Manu3756 commented on #61
JSON-Schema will be fixed with V3.0RC02.

[2022-01-25 09:15] #61 closed

[2022-01-25 09:22] Manu3756 commented on #62
This looks like a bug in the JSON examples.
The examples and the schema will be updated with V3.0RC02.

[2022-01-25 09:22] #62 closed

[2022-01-25 09:25] TorbenD commented on #21
I would say: Yes. Cause we need it for AnnotatedRelationshipElements where annotations are a list of DataElements ;-)

[2022-01-25 09:28] g1zzm0 commented on #62
Is it possible to fix the bug in the JSON examples in the updated Version of V3.0RC01?

[2022-01-25 09:45] Manu3756 commented on #63
@markus-ap

This is a specific rule for JSON serialisation. See: [README.md Rule 5]( https://github.com/admin-shell-io/aas-specs/blob/master/schemas/json/README.md )

Instead of having a list of references and no content, we decided to introduce a new object called **embeddedDataSpecifications**. So the attribute dataSpecifcation in UML is renamed to embeddedDataSpecifications in JSON and an addit

[2022-01-25 10:18] Manu3756 commented on #62
I fixed it in the master. I am not sure if it is worth a new release. I recommend to do a final release before we start with V3.0RC02.

[2022-01-26 11:19] mristin commented on #21
LGTM. As a rule: whenever you use a type which has one or more concrete descendants, the model type must be indicated.

A side remark: this should be automatically handled by the generator for V3RC02.

[2022-02-22 19:48] BirgitBoss commented on #22
I would agree to remove the tag for the abstract class submodelelement

[2022-03-31 12:07] kenwenzel opened #163 "Plural form of properties in RDF ontology"
The RDF ontology defines plural forms of some properties like `submodelElements` as can be seen here:
https://github.com/admin-shell-io/aas-specs/blob/e7fe85877c616838a59e17b1f90b038372ca9362/schemas/rdf/rdf-ontology.ttl#L2366

The examples use properties in singular form:
https://github.com/admin-shell-io/aas-specs/blob/e7fe85877c616838a59e17b1f90b038372ca9362/schemas/rdf/examples/Submodel_Submod

[2022-03-31 12:16] kenwenzel opened #164 "Wrong namespace for properties in RDF examples"
One or more of the RDF examples solely use properties in the namespace `https://admin-shell.io/aas/3/0/RC01/`.
Either the examples are wrong or the AAS RDF ontology is wrong as the latter defines properties in the namespace of the related entities.

One [example](https://github.com/admin-shell-io/aas-specs/blob/e7fe85877c616838a59e17b1f90b038372ca9362/schemas/rdf/examples/Submodel_SubmodelElement_

[2022-03-31 18:51] mristin commented on #163
Hi @kenwenzel ,
Thanks for submitting the issues!

The reason behind the plural forms is that the code in  https://github.com/admin-shell-io/java-model is automatically generated based on it and thus the properties need to coincide with the JSON and XML schema.

The examples are indeed outdated and we are preparing the new ones for V3RC02.

[2022-03-31 18:54] mristin commented on #163
Please have a look at the branch https://github.com/admin-shell-io/aas-specs/tree/draft-V3RC02-schemas for the latest development.

@changqin26 FYI

[2022-03-31 18:56] mristin commented on #164
@changqin26 can you please have a look? This is also relevant for V3RC02.

[2022-03-31 19:23] kenwenzel commented on #163
Thank you for the quick response. The properties are indeed in singular form now. That is good.

Do you think it is also possible to move all properties into the AAS namespace as mentioned in issue #43 for V3RC02? This would really simplify the usage of the RDF syntax.
If property ranges are an issue then OWL local property restrictions can be used to express them.
The attributes in the XML serial

[2022-03-31 21:48] #163 closed

[2022-03-31 21:49] mristin commented on #163
@kenwenzel I'm closing the issue for now as it seems to be fixed. Please re-open, or better re-create a concrete issue for V3RC02.

[2022-04-01 06:38] changqin26 commented on #164
@mristin, the examples in the branch `feature/RdfUpdate` are correct. I am wondering when you merged this branch to the` master` 28 days ago, why the examples in the `feature/RdfUpdate` branch are not merged into `master` at the same time? Under the `master` branch, Examples folder is updated 3 months ago.

[2022-04-01 07:01] kenwenzel commented on #43
Usually an ontology (or RDF vocabulary) defines **separate hierarchies for classes and properties**.
A simple example is the [FOAF vocabulary](http://xmlns.com/foaf/spec/) that, for example, defines the property [foaf:name](http://xmlns.com/foaf/spec/#term_name).

If `rdfs:domain` and/or `rdfs:range` is defined for a property then this implies that the target object (rdfs:domain) or the value (rdf

[2022-04-01 07:08] mristin commented on #164
@changqin26 wrote:

I'll have a closer look at it today.

[2022-04-01 07:51] changqin26 commented on #43
@kenwenzel, thanks for your comments and I think you made a point. However, in the current version of Spec [](https://www.plattform-i40.de/IP/Redaktion/EN/Downloads/Publikation/Details_of_the_Asset_Administration_Shell_Part1_V3.pdf?__blob=publicationFile&v=5) on the page 126, it defines:
`A concrete unique identifier is defined as follows:`
`<AAS Unique Concept Identifier> ::= (<Namespace> | <Name

[2022-04-01 07:58] mristin commented on #164
@kenwenzel  @changqin26 thanks for spotting the problem! I forgot to check out the examples from `feature/RdfUpdate`. I merged them a second ago to the master in the pull request #165.

@kenwenzel could you please have another look at the most recent examples in the master branch? Mind that they are meant for the V3RC01 of the meta-model, *not* V3RC02.

[2022-04-01 08:17] kenwenzel commented on #43
Thank you @changqin26. I wasn't even aware of this rule.

But I would repeat that this is really unusual for an RDF vocabulary and even the AAS XML Schema doesn't follow this rule.
All AAS XML attributes are definied in the namespace `http://www.admin-shell.io/aas/3/0` as can be seen here:
https://github.com/admin-shell-io/aas-specs/blob/76275c0248bb999e38a3517b84590b3ea87ee4a4/schemas/xml/AAS.xsd

[2022-04-01 08:25] kenwenzel commented on #164
Thank you @changqin26  and @mristin. The examples look correct now. But as can be seen it's simply a mess to express an AAS in RDF with properties in so many different namespaces (#43).

[2022-04-01 08:28] mristin commented on #164
@kenwenzel I'll close this issue for now as the examples are fixed. Let's continue the discussion about the namespaces in #43.

[2022-04-01 08:28] #164 closed

[2022-04-01 09:01] kenwenzel opened #166 "Naming scheme for AAS objects (identifiables and references) in RDF"
The AAS specs currently don't define any naming scheme for AAS objects in RDF.
Most examples simply use blank nodes or arbitrary IRIs to name the AAS elements.

At least for `Identifiables` it would be nice if the resource IRI reflects the identification.
Also references to identifiables would benefit from stable resource IRIs in RDF.

The current spec uses strings to encode identifiers (even for

[2022-04-01 11:34] kenwenzel commented on #45
This is still an issue for draft-C3RC02. Should I prepare a PR?

[2022-04-01 11:35] kenwenzel commented on #42
This is still an issue for draft-C3RC02. It needs to be decided among the possible solutions above.

[2022-04-04 12:43] sebbader commented on #43
Hi @kenwenzel, you are of course right with the point that the pattern for the properties is definitely not following the RDF conventions. Actually, the earlier versions of the ontology *had* one single namespace.
However, and that's what Chang posted, the identifier grammar was accepted as a normative part of the standard earlier already, and therefore must be used.

[2022-04-04 14:32] kenwenzel commented on #43
Yes, I understand that. I just think that changes at a later point in time will be even harder if more and more AAS data becomes available. Also RDF tooling could be better leveraged if the RDF vocabulary would be more "standard conformant".

[2022-04-04 14:32] sebbader commented on #43
The correct process is to put the finding into the AAS Part 1 review form and thereby propose it to the working group. Or, even better, join the WG and collaboratively make the solution happening :-)
@kenwenzel, don't get me wrong, I agree with you that your suggestion is following to the RDF conventions and thereby preferable. Still, the design decision has been made already, so opening it now wi

[2022-04-04 14:35] sebbader commented on #43
And yes, a later change will even cause more trouble. Still, we don't have a functional bug right now, so the priority is not at \#1

[2022-05-02 14:05] BirgitBoss opened #179 "BUG - aasenv contains maximum one element submodels_t, conceptDescriptions_t or assetAdministrationshell_t"
Since the types represent the lists and not the single elements in the list it is 0..1 multiplicity here (like for assets) and not 0..*

[code]

[2022-06-27 12:02] BirgitBoss opened #189 "Bug - SupplementalSemanticId has cardinality 0..* not 0..1"
SupplementationSemanticId has cardinality 0..* not 0..1

                                    <supplementalSemanticIds>
						<reference>
							<type>GlobalReference</type>
							<keys>
								<key>
									<type>GlobalReference</type>
									<value>something_random_e14ad770</value>
								</key>
							</keys>
						</reference>
					</supplementalSemanticIds>

==>

[2022-06-27 12:11] BirgitBoss opened #190 "minim manually created AAS should contain globalAssetId or a specific Asset Id"
There is the implicit constraint that either a globalAssetId or at least one specificAssetId needs to be available. This should be made explicit in next release of Part 1

since this example is manually created it should contain a globalAssetId

https://github.com/admin-shell-io/aas-specs/blob/draft-V3RC02-schemas/schemas/xml/examples/manual/asset_administration_shell/minimal_asset_administration_

[2022-06-27 12:14] BirgitBoss opened #191 "Example manually created Concept Description"
Since this is a manually created example it should contain a data specification. This shall be added as a constraint in Part 1. Without data specification concept description do not make  sense.

https://github.com/admin-shell-io/aas-specs/blob/draft-V3RC02-schemas/schemas/xml/examples/manual/concept_description/minimal_concept_description.xml

Add data specification for properties

[2022-06-27 12:16] mristin commented on #189
This refers to the branch https://github.com/admin-shell-io/aas-specs/tree/draft-V3RC02-schemas, correct?

[2022-06-27 12:17] BirgitBoss opened #192 "Bug - idShort required for property according constraint AASd-117"
See manually created example for minimal property:

https://github.com/admin-shell-io/aas-specs/blob/draft-V3RC02-schemas/schemas/xml/examples/manual/submodels/property/minimal_property.xml

                <property>
                    <valueType>xs:boolean</valueType>
                </property>

idShort is required accoding to constraint
Constraint AASd-117: idShort of non-identifiable Referab

[2022-06-27 12:21] BirgitBoss opened #193 "Bug - cardinality of specificAssetId is 0..* not 0..1"
cardinality of specificAssetId is 0..* not 0..1
https://github.com/admin-shell-io/aas-specs/blob/draft-V3RC02-schemas/schemas/xml/examples/generated/specificAssetId/minimal.xml

[code]
==>
[code]

[2022-06-27 12:31] BirgitBoss opened #194 "V3.0RC02 - data specification IEC61360 missing for xml schema?"
I somehow miss the data specification for IEC61360 and the one for physical unit in

https://github.com/admin-shell-io/aas-specs/tree/draft-V3RC02-schemas/schemas/xml

[2022-06-27 12:32] mristin commented on #192
Thanks! I think I forgot to include the verification on manual examples.

[2022-06-27 12:35] mristin commented on #190
Does this constraint already exists in text in the book for V3RC02?

[2022-06-27 12:37] mristin commented on #191
Do I get this right: according to the book V3RC02 this is a valid *minimal*  example, though?

[2022-06-27 12:42] mristin commented on #190
Otherwise, similar to #191, this is a valid *minimal* example according to the book V3RC02, isn't it?

[2022-06-27 12:42] BirgitBoss opened #195 "Complete xml Example for V3.0RC02 - Embedded Data Specification Approach not implemented"
https://github.com/admin-shell-io/aas-specs/blob/draft-V3RC02-schemas/schemas/xml/examples/generated/submodel/complete.xml

In the past we followed the embedded data specification approach, here, only the references to data spec. are contained but not the content.

See chapter 9.2.5 in Part 1 of Details of the Asset Administation Shell

![grafik](https://user-images.githubusercontent.com/59824205/

[2022-06-27 12:45] mristin commented on #194
According to the book, they are not part of the meta-model. Moreover, there is no way how we can represent them in the schema unless they are explicitly defined as classes.

Please check off-line with @g1zzm0 .

[2022-06-27 12:46] mristin commented on #195
This can not be implemented in a schema. Please contact @g1zzm0  off-line.

[2022-06-27 12:48] mristin commented on #195
(Just a small clarification: this is not implementable at least not for a transpiled schema.)

[2022-06-28 16:14] mristin commented on #192
I'll remove the manually written examples since they are obviously unmaintainable.

This will also affect issues #191 and #190.

[2022-06-29 06:43] mristin commented on #189
Hi Birgit,
`SupplementalSemanticId` is indeed modeled as a list; sorry, I didn't read your examples careful enough. The first example in your comment https://github.com/admin-shell-io/aas-specs/issues/189#issue-1285700413 is correct, the second one is incorrect.

We put the model type in the tag (`reference` in this case), not the singular form of the property name.

This is the relevant part of t

[2022-06-29 06:43] #189 closed

[2022-06-29 07:24] #192 closed

[2022-06-29 07:24] #191 closed

[2022-06-29 07:25] #190 closed

[2022-06-29 09:48] mristin commented on #193
Fixed by #197.

[2022-06-29 09:48] #193 closed

[2022-06-29 09:48] mristin commented on #192
Fixed by #196.

[2022-06-29 09:49] mristin commented on #191
Fixed by #196.

[2022-06-29 09:49] mristin commented on #190
Fixed by #196.

[2022-06-29 12:29] g1zzm0 commented on #194
As you can already read in the mapping rules since version RC01: "The schema definitions of the environment are separated by the main aspects in 3 files. AAS Metamodel with in AssetAdministrationShells, Assets, Submodels in AAS.json, Security of the AAS in AAS_ABAC.json, Semantics of the AAS with ConceptDescriptions and DataSpecifications in IEC61360.json."

[2022-07-10 16:28] BirgitBoss commented on #195
Please have a look at former versions of the schema how this was implemented. I am sure it also works for a transpiled schema because it is an easy implementation pattern.

[2022-07-10 16:37] BirgitBoss commented on #189
Then my expectation would have been:

                            <supplementalSemanticIds>
                                <supplementalSemanticId>
					        <type>GlobalReference</type>
						<keys>
							<key>
								<type>GlobalReference</type>
								<value>something_random_e14ad770</value>
							</key>
						</keys>
				</supplementalSemanticId>
                             <supplemen

[2022-07-10 17:03] mristin commented on #189
@BirgitBoss: As I already mentioned, we put the type name in the element tag and not the singular of the property. This is much easier to implement, and avoids all sorts of problems (*e.g.*, works in situations where we have to perform a dispatching in case of abstract classes, no ill-defined singular/plural forms *etc.*).

Please see this example: https://github.com/admin-shell-io/aas-specs/blob/

[2022-07-10 17:11] mristin commented on #195
As we can not implement embeddable data specifications, I am closing this issue. Please open a separate issue once the data specifications are generated as separate files if you have comment on those.

[2022-07-10 17:11] #195 closed

[2022-07-29 19:06] LogMANOriginal opened #201 "Multiple possible root elements in XML"
The XML schema defines four possible root elements:

* `aasenv`
[code]

* `key` (AAS.xsd)
[code]

* `key` (IEC61360.xsd)
[code]

* `internalInformationPoints`
[code]

I believe that only `aasenv` is supposed to be a root element. If that is the case, then the following lines should be removed:

https://github.com/admin-shell-io/aas-specs/blob/d5d6768cd084d9ed41db6543ceaa442899a08ac0/schemas/xml/AA

[2022-07-29 19:09] mristin commented on #201
Hi @LogMANOriginal ,
Please have a look for the draft of 3.0RC2:
https://github.com/admin-shell-io/aas-specs/tree/draft-V3RC02-schemas/schemas/xml

I will also add data specifications and the security parts this Monday, since these parts are still pending.

[2022-07-29 19:26] LogMANOriginal commented on #201
Thanks! I didn't notice the other branch. I'll wait for the data specifications and security parts.

Looks like this issue has been addressed already. If the other schemas don't add additional root elements, it can probably be closed.

[2022-08-09 08:14] sebbader commented on #12
We have an agreement, and this issue has been stale for a very long time. Therefore I am closing it.

[2022-08-09 08:14] #12 closed

[2022-08-09 15:37] BirgitBoss commented on #179
Now in branch https://github.com/admin-shell-io/aas-specs/tree/draft-V3RC02-schemas no types any longer for plural - although this is best practice and was a concsious decision to introduce them in V1.0: Only then it is possible to specify that something is option and that - if existing - at minimum 1 element should be contained.

Is maxOccurs default equal to "1"? Otherwise the issue still is not

[2022-08-09 15:43] BirgitBoss commented on #42
We now do have two element types: SubmodelElementCollection and SubmodelElementList.

[2022-08-09 15:45] BirgitBoss commented on #34
Sicne V3.0RC02 Certificate, BlobCertificate are not part of the metamodel any longer.

[2022-08-14 21:51] mristin commented on #179
@BirgitBoss Please see https://github.com/aas-core-works/aas-core-meta/issues/149. Could you please write the feedback directly on that other issue? If I understood you correctly, lists should either be specified with at least one item or the XML element should not be specified at all? (Let's continue the discussion on the issue https://github.com/aas-core-works/aas-core-meta/issues/149.)

[2022-08-16 08:31] sebbader opened #203 "ValueOnly Schema for JSON"
Part 2 introduces a ValueOnly and MetaDataOnly Serialization, including respective JSON schemes. We need to:

- [ ] add the ValueOnly schema also to the JSON folder,
- [ ] add the MetaDataOnly schema also to the JSON folder,
- [ ] extend the README file of the folder to explain their usage and intention.

[2022-08-16 08:35] sebbader commented on #203
@constantinziesche will create a PR for this issue.

[2022-08-16 08:36] mristin commented on #203
@sebbader please don't forget to put all this on the https://github.com/admin-shell-io/aas-specs/tree/draft-V3RC02-schemas branch.

[2022-08-17 07:26] mristin commented on #179
Closing the issue, since the schema could be generated with the appropriate constraint. The definition for plural sequences is not necessary.

[2022-08-17 07:26] #179 closed

[2022-08-21 17:02] mristin commented on #194
This issue has been fixed by #204.

[2022-08-21 17:02] #194 closed

[2022-08-21 17:03] mristin commented on #201
Closing since fixed by #204.

[2022-08-21 17:03] #201 closed

[2022-08-21 17:04] mristin commented on #54
Closing since fixed in #204.

[2022-08-21 17:04] #54 closed

[2022-08-21 17:05] mristin commented on #53
Closing since fixed in #204.

[2022-08-21 17:05] #53 closed

[2022-08-21 17:05] mristin commented on #51
Closing since the security part has been removed. This is reflected in #204.

[2022-08-21 17:05] #51 closed

[2022-08-21 17:06] mristin commented on #48
Closing since the issue become obsolete as there are no ``identifier``/``identification`` attributes any more.

[2022-08-21 17:06] #48 closed

[2022-08-21 17:08] mristin commented on #179
The ``maxOccurs`` set to 1 has been introduced in #204.

[2022-08-31 08:20] BirgitBoss opened #210 "xml V3.0RC02 Type of Property/value not correct"
https://github.com/admin-shell-io/aas-specs/tree/draft-V3RC02-schemas
xml schema:

Type of Propery/value is value „any xsd atomic type as specified via DataTypeDefXsd“ according to specification V3.0RC02 and not string (https://industrialdigitaltwin.org/wp-content/uploads/2022/06/DetailsOfTheAssetAdministrationShell_Part1_V3.0RC02_Final1.pdf)

Note: In previous versions of the spec the type was an

[2022-08-31 09:20] BirgitBoss opened #211 "xml V3.0RC02 supplementalSemanticIds etc. - how to deal with 0..* cardinality bug"
https://github.com/admin-shell-io/aas-specs/tree/draft-V3RC02-schemas
xml schema:
(as generated as example https://raw.githubusercontent.com/admin-shell-io/aas-specs/draft-V3RC02-schemas/schemas/xml/examples/generated/submodel/complete.xml):

			<supplementalSemanticIds>
				<reference>
					<type>GlobalReference</type>
					<keys>
						<key>
							<type>GlobalReference</type>
							<value>some

[2022-08-31 09:27] BirgitBoss opened #212 "Qualifier xml V3.0RC02: semanticId and supplementalSemanticId for generated examples missing"
https://github.com/admin-shell-io/aas-specs/tree/draft-V3RC02-schemas

xml schema:
(as generated as example https://raw.githubusercontent.com/admin-shell-io/aas-specs/draft-V3RC02-schemas/schemas/xml/examples/generated/submodel/complete.xml):

			<qualifiers>
				<qualifier>
					<type>something_random_cfd39ba4</type>
					<valueType>xs:boolean</valueType>
				</qualifier>
			</qualifiers>

Since

[2022-08-31 09:37] BirgitBoss opened #213 "xml V3.0RC02: dataSpecificationContent not conformant to spec"
https://github.com/admin-shell-io/aas-specs/tree/draft-V3RC02-schemas

xml schema:
(as generated as example https://raw.githubusercontent.com/admin-shell-io/aas-specs/draft-V3RC02-schemas/schemas/xml/examples/generated/submodel/complete.xml):

I know it was like this before, however, it is not like specified

					<dataSpecificationContent>
						<dataSpecificationIec61360>
							<preferredName>

[2022-08-31 09:49] BirgitBoss commented on #212
I now found https://github.com/admin-shell-io/aas-specs/blob/draft-V3RC02-schemas/schemas/xml/examples/generated/qualifier/complete.xml with semanticId and supplementalSemanticId. So I now understand that the elements within the element under consideration are minimal and not complete.

[2022-08-31 09:49] #212 closed

[2022-08-31 09:56] BirgitBoss opened #214 "Question w.r.t. Enumeration Values Capital Letters?"
https://github.com/admin-shell-io/aas-specs/tree/draft-V3RC02-schemas

xml schema:
(as generated as example https://raw.githubusercontent.com/admin-shell-io/aas-specs/draft-V3RC02-schemas/schemas/xml/examples/generated/submodel/complete.xml):

e.g. https://github.com/admin-shell-io/aas-specs/blob/draft-V3RC02-schemas/schemas/xml/examples/generated/basicEventElement/complete.xml

					<direction>OU

[2022-08-31 10:05] BirgitBoss opened #215 "xml V3.0RC02 example for environment missing"
I love the examples! I miss the (complete and minimal) example for environment

https://github.com/admin-shell-io/aas-specs/tree/draft-V3RC02-schemas/schemas/xml/examples/generated

[2022-08-31 10:08] BirgitBoss opened #216 "xml V3.0RC02 examples valid?"
https://github.com/admin-shell-io/aas-specs/blob/draft-V3RC02-schemas/schemas/xml/examples/generated/conceptDescription/complete.xml

                <administration/>

is generated because none of its attributes is mandatory. However, this leads to an invalid generated xml file, doesn't it? As far as I remember empty tags are not allowed any longer.

This should at least be mentioned in the Readm

[2022-08-31 10:11] BirgitBoss commented on #211
Similar here:
https://github.com/admin-shell-io/aas-specs/blob/draft-V3RC02-schemas/schemas/xml/examples/generated/conceptDescription/complete.xml

			<isCaseOf>
				<reference>
					<type>GlobalReference</type>
					<keys>
						<key>
							<type>GlobalReference</type>
							<value>something_random_8fc8a489</value>
						</key>
					</keys>
				</reference>

[2022-08-31 10:14] BirgitBoss opened #217 "xml V3.0RC02 isCaseOf of ConceptDescription"
https://github.com/admin-shell-io/aas-specs/blob/draft-V3RC02-schemas/schemas/xml/examples/generated/conceptDescription/complete.xml

			<isCaseOf>
				<reference>
					<type>GlobalReference</type>
					<keys>
						<key>
							<type>GlobalReference</type>
							<value>something_random_8fc8a489</value>
						</key>
					</keys>
				</reference>
			</isCaseOf>

The cardinality of isCaseOf is 0..*

[2022-08-31 10:19] BirgitBoss commented on #211
Same here:

					<inputVariables>
						<operationVariable>
							<value>
								<blob>
									<contentType>application/something-random</contentType>
								</blob>
							</value>
						</operationVariable>

although it looks good but the serialization rule would lead to. This was the rule

					<inputVariables>
						<inputVariable>
							<value>
								<blob>
									<contentType>appli

[2022-08-31 10:28] BirgitBoss commented on #211
proably also similar to https://github.com/admin-shell-io/aas-specs/issues/213

[2022-08-31 11:58] mristin commented on #213
Hi @BirgitBoss ,
We do not handle the model type on case-by-case basis. It's always the same algorithm:
* In JSON we put it in `modelType` property,
* In XML, we put it in the name of the element. Moreover, each attribute is represented as an element. In case of lists, the items are enclosed in the elements designating the model type.

That is why you see first `dataSpecificationContent` (attribut

[2022-08-31 12:06] mristin commented on #215
Thanks! This was a bug in my script (the examples are available at https://github.com/aas-core-works/aas-core3.0rc02-testgen/tree/main/test_data/Xml/SelfContained/Expected/environment, I just need to copy them).

[2022-08-31 12:08] mristin commented on #211
@BirgitBoss please see the explanation at https://github.com/admin-shell-io/aas-specs/issues/213#issuecomment-1232841211.

[2022-08-31 12:08] #211 closed

[2022-08-31 12:09] mristin commented on #216
@BirgitBoss empty tags are indeed allowed (an instance without any of the attributes specified). What is disallowed are the empty lists and empty strings.

[2022-08-31 12:09] #216 closed

[2022-08-31 12:11] mristin commented on #217
We decided to have correct English throughout the schema. This is a complete list of exceptions for V3RC02:
https://github.com/aas-core-works/aas-core-meta/blob/1df1729d364367ca460e43a40b19d9d3edc19930/tests/test_v3rc2.py#L1122

[2022-08-31 12:11] #217 closed

[2022-08-31 15:39] mristin opened #218 "Translate examples for RDF"
The generated examples should be also given in RDF akin to XML and JSON.

[2022-09-01 07:50] mristin commented on #63
Closing the issue as this has been documented in the book Section 9.2.5.

[2022-09-01 07:50] #63 closed

[2022-09-01 07:52] mristin commented on #43
Closing the issue due to inactivity. Please re-open if there are any new actionable insights.

[2022-09-01 07:54] mristin commented on #40
Closing the issue due to inactivity. @BirgitBoss please re-open the issue with concrete examples if it hasn't been fixed in the draft for V3RC02.

[2022-09-01 07:54] #40 closed

[2022-09-01 07:59] mristin commented on #166
@kenwenzel @sebbader I'll close the issue for now. Please re-open if we are to re-consider it for the next version.

@sebbader please decide if you want to take this feature for a future version.[](url)

[2022-09-01 07:59] #166 closed

[2022-09-01 08:00] mristin commented on #64
Closing due to inactivity.

[2022-09-01 08:00] #64 closed

[2022-09-01 08:01] mristin commented on #50
The issue has been resolved offline over the phone.

[2022-09-01 08:01] #50 closed

[2022-09-01 08:03] mristin commented on #45
@sebbader Please have another look at this issue. Do we need to fix anything for V3RC02 or should we postpone this for future versions?

[2022-09-01 08:07] #34 closed

[2022-09-01 08:09] mristin commented on #32
Closing as not related to AAS specs.

[2022-09-01 08:09] #32 closed

[2022-09-01 08:10] mristin commented on #22
Closing as this is a documentation issue; see this comment which addresses a very similar issue: https://github.com/admin-shell-io/aas-specs/issues/213#issuecomment-1232841211

[2022-09-01 08:10] #22 closed

[2022-09-01 08:11] mristin commented on #21
Closing as already fixed in the draft of V3RC02.

[2022-09-01 08:11] #21 closed

[2022-09-01 08:11] mristin commented on #20
Closing as we agreed in internal discussion to enforce the order of the attributes in the XML de/serialization for readability.

[2022-09-01 08:11] #20 closed

[2022-09-01 08:14] mristin commented on #42
Closing since fixed in V3RC02.

[2022-09-01 08:14] #42 closed

[2022-09-01 10:25] sebbader commented on #45
@mristin this has a few additional implications, let's regard this later. We are also currently working on a way more RDF-native interpretation/profile in addition to the official RDF schema, which will then also help us with this issue.

[2022-09-01 10:27] sebbader commented on #166
We need this in the context of distributed shells and querying on them - but not yet in the context of v3.0RC02. We will make a bigger proposal later. Therefore, closing it for now is fine with me.

[2022-09-01 13:25] mristin commented on #45
I'll close the issue for now. Please remember to reference it in the future if it is ever resolved.

[2022-09-01 16:12] mristin commented on #218
Closing since addressed in #219.

[2022-09-01 16:12] #218 closed

[2022-09-01 16:12] mristin commented on #215
Closing since addressed in #219.

[2022-09-01 16:12] #215 closed

[2022-09-01 16:12] mristin commented on #214
Closing since addressed in #219.

[2022-09-01 16:12] #214 closed

[2022-09-01 16:12] mristin commented on #210
Closing since addressed in #219.

[2022-09-01 16:12] #210 closed

[2022-09-01 16:12] mristin commented on #75
Closing since addressed in #219.

[2022-09-01 16:12] #75 closed

[2022-09-02 07:03] BirgitBoss commented on #213
This is what I expected, this is why are wondered because dataSpecificationContent (attribute) is not part of a list, its parent is EmbeddedDataSpecification with cardinality 0..1

The list is

    embeddedDataSpecifications
      embeddedDataSpecification1
            dataSpecification
            dataSpecificationContent
      embeddedDataSpecification2
            dataSpecification

[2022-09-02 07:07] BirgitBoss commented on #217
These exceptions need to part of the Readme with the serialization rules as well.

[2022-09-02 07:22] mristin commented on #217
Added to JSON readme.

[2022-09-02 07:25] mristin commented on #213
@BirgitBoss please re-visit the schema and the examples. It is indeed implemented as expected -- the cardinality of embedded data specifications is `0..*`.

[2022-09-02 17:23] mristin commented on #213
Documented in #224, closing.

[2022-09-02 17:23] #213 closed

[2022-09-02 22:17] BirgitBoss commented on #81
This is about releases and not about branch strategy but of course they are related. This is not yet well-defined.

[2022-09-02 22:20] BirgitBoss commented on #78
Every change needs an issue. But this is exactly the scope of the issue to define these rules.

[2022-09-02 22:32] BirgitBoss opened #225 "update Contribution Guide for V3.0RC02"
The master for the contribution guide for V3.0RC02 is the master branch: https://github.com/admin-shell-io/aas-specs/blob/master/CONTRIBUTING.md and not
i.e. https://github.com/admin-shell-io/aas-specs/blob/draft-V3RC02-schemas/CONTRIBUTING.md

This needs to be corrected before release.

[2022-09-05 09:18] BirgitBoss commented on #213
Documentation is in file containing the serialization rules for xml schema, chapter "Instances Serialized with Discriminator"

[2022-09-06 10:41] sebbader commented on #19
We have added this topic into the findings list of the API task force. It will require a longer discussion, also regarding the - still valid - reasons why 'API Operation' and 'Interface Operation' have been selected in the first place. I will therefore close the issue now as we won't fix it with the next release but will put it back on the agenda later.

[2022-09-06 10:41] #19 closed

[2022-09-09 11:37] BirgitBoss opened #238 "Create New Folder for Verbs etc."
The file
https://github.com/BirgitBoss/aas-specs/blob/draft-V3RC02-schemas/AdditionalVerbsInImperativeMood.txt
is very irritating. I assume this is about PR and how to formulate the title of the PR?

Please create a new folder for adding files that belong to contribution guideline. Should not be on top level folder

[2022-09-09 12:55] mristin commented on #238
I'll move it to `continuous_integration/` folder.

[2022-09-09 16:33] #52 closed

[2022-09-11 17:46] g1zzm0 commented on #80
Due to the change to the CC-BY-4.0 license, can you elaborate what legal information are missing? Otherwise, please close the PR.

[2022-09-14 10:51] sebastiankb opened #240 "DataSpecification: replace xs:choice with xs:substitutionGroup"
see today's UAG meeting  for more details

[2022-09-14 12:04] #238 closed

[2022-09-14 12:04] mristin commented on #238
Fixed by #239 .

[2022-09-15 06:57] BirgitBoss opened #241 "XML Examples Readme still contain TODO"
https://github.com/admin-shell-io/aas-specs/tree/master/schemas/xml/examples

First paragraph says "TODO [..]" However, I think the status is "Done" ? Just remove sentence

[2022-09-15 06:59] mristin commented on #241
@BirgitBoss thanks for spotting it! I'll fix it today or tomorrow. I'll just document that the examples were generated automatically.

[2022-09-16 07:18] #241 closed

[2022-10-04 07:22] g1zzm0 commented on #225
Release and adjustment have already been done with the release.

[2022-10-04 07:22] g1zzm0 commented on #203
Release and adjustment have already been done with the release

[2022-10-04 07:22] #203 closed

[2022-11-13 00:52] jkhsjdhjs opened #244 "xs:dateTime pattern doesn't allow timezone information"
The pattern that is currently used to validate `xs:dateTime` values doesn't allow timezones. For example, it prohibits `2022-11-12T23:50:23.000789+01:00` (UTC+1) while `2022-11-12T23:50:23.000789Z` (no timezone / UTC) works fine. [DotAAS V3.0RC02](https://www.plattform-i40.de/IP/Redaktion/EN/Downloads/Publikation/Details_of_the_Asset_Administration_Shell_Part1_V3.pdf?__blob=publicationFile) states

[2022-11-13 01:24] mristin commented on #244
@jkhsjdhjs thanks for double-checking! I had another look at the specs. The time zone for the time stamps in question (*e.g.*, properties of an event) is set to UTC, hence the mandatory `Z` suffix at the end.

For example, for `BasicEventElement/lastUpdate` it says:

I'll close the issue. Please re-open if we got something else wrong.

[2022-11-13 01:24] #244 closed

[2022-11-13 01:42] jkhsjdhjs commented on #244
Ah, I see, thanks for the quick reply! I must have overlooked that.

[2022-11-14 00:11] jkhsjdhjs commented on #244
@mristin Hey, I had a look again and for `lastUpdate` you're absolute right. The value is in UTC and because of that should have the `Z` suffix. But what about `minInterval` and `maxInterval`? These values represent intervals and thus it doesn't really make sense that these values are timezoned. IMO they shouldn't have any suffix, what do you think?

[2022-11-14 06:27] mristin commented on #244
@jkhsjdhjs could you please create a separate issue so we do not spam this one?

[2022-11-14 10:30] mristin opened #245 "`MinInterval` and `MaxInterval` without a time zone?"
This is an issue forked from #244.

Here is the original text:

If I understand the meta-model correctly, `minInterval` and `maxInterval` represent timestamps as well, so not a time interval (a time interval would be `xs:duration`, while `minInterval` and `maxInterval` are `xs:dateTime`).

@BirgitBoss could you please comment? This is probably a finding to be discussed for the next version?

[2022-11-14 14:54] jkhsjdhjs opened #246 "xs:dateTime pattern doesn't allow `-00:00` and `+00:00` for UTC values"
As already discussed in #244, values for `BasicEventElement/lastUpdate` are required to be specified in UTC. However, the `Z` suffix isn't the only valid way to specify UTC values, `-00:00` and `+00:00` are valid as well, see https://www.w3.org/TR/xmlschema-2/#dateTime-timezones

While Z is the canonical UTC representation, only allowing Z would be a restriction of the `dateTime` type specified in

[2022-11-23 14:47] BirgitBoss opened #247 "label for chapter JSON Mapping Rules for linking in spec."
https://github.com/admin-shell-io/aas-specs/tree/master/schemas/json#json-mapping-rules
does not link to chapter JSON Mapping rule but is identical to
https://github.com/admin-shell-io/aas-specs/tree/master/schemas/json

Used in Spec Part 1 for referencing to mapping rules

[2022-11-24 12:17] BirgitBoss commented on #245
According to specificication V3.0RC02 the type of BasicEventElement/minInterval and /maxInterval is dateTime and not dateTimeStamp.

Remark: In the next version of the specification all attributes with type dateTimeStamp will be changed to dateTime because we will restrict types to XML Schema 1.0.

Of course dateTimeStamp is a derived

[2022-11-24 13:45] BirgitBoss commented on #245
I checked with @MichaelHoffmeisterFesto : he agrees that it should be xs:duration.
I will take it is finding to next version to be corrected. Thank you for your input.